
body{
    background-color: #26cbff;
}

#section1{
    text-align: center;
    background-color: #26cbff;
    height: 250px;
    width:auto;
}

#title{
    color: white;
    font-family: Megrim;
    font-size: 100px;
    position: relative;
    bottom: 80px;
}

#cc1{   
    position: relative;
    bottom: 343px;
    right: 600px;
}

#cc2{
    position: relative;
    bottom: 523px;
    left: 600px;
    transform: scaleX(-1);
}

#section2{
    background-color:#26cbff ;
    text-align: center;
    position: relative;
    bottom: 30px;
}

#txt1{
    color: white;
    font-family: Indie Flower;
    font-size: 30px;
}



#section3{
    background-color: #ffff;
    height: 80px;
    text-align: center;
    border-radius: 50px;
    position: sticky;
    top: 0px;
    margin-bottom: 50px    ;
    border:  black 8px double;
    z-index:1;
}

.nav_contents{
    margin-left: 100px;
    text-decoration: none;
    font-size: 30px;
    font-family: Gloria Hallelujah    ;
}

#in{
    margin-left: 160px;
    color: black;
}




#banner1{
    border-radius: 200px;
    position: relative;
}

#section5{
    position: relative;
    top: 100px;
}

.marq_img{
    border: black 2px solid;
}


#section7{
    text-align: center;
}

#flex,#flex1{
    display: flex;
}

#flex1{
    position: relative;
    left: 200px;
}

.pc_image{
    border-radius: 1000px;
    margin-left: 100px;
    border: black double 7px;
}

.pc_text{
    position: relative;
    top: 250px;
    right: 200px;
    font-family: Indie Flower;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#section6{
    text-align: center;
    margin: 100px;
}

#sp{
    font-family: Indie Flower;
    font-size: 40px;
}

#sp::first-letter{
    color: red;
    font-size: 100px;
    font-family: Megrim;
    font-size: 40px;
}


#section8{
    text-align: center;
    font-family: Indie Flower;
    margin-top: 300px;
    border: black 3px double;
    background-color: white;
}



